.content {
  min-height: calc(100vh - 148px);
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.image {
  max-width: 100%;
  max-height: calc(100vh - 180px);
  object-fit: contain;
  border-radius: 12px;
}
